.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-radius: 65px 65px 0px 0px;
}

.flights-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 0px;
  width: 85%;
}