.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.container {
  margin: 0 auto;
  padding: 0;
  min-width: 90%;
  min-height: 100%;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #1fb7ee;
  color: #fff;

  &_active {
    background-color: #fff;
    color: #1fb7ee;
  }
}